* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

///* HEADER */
header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 20px;

    img {
        width: 100px;
    }
    input {
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: groove;
        background-color: #eee;
        height: 40px;
        margin-top: 20px;
    }
}

#other-sites {
    background-color: #0282f9;
    color: white;
    height: 20px;
    width: 100%;
}

nav {
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
}

nav a:link {
    text-decoration: none;
    color: black;
}

nav li {
    list-style-type: none;
    display: inline;
    margin: 10px;
}

// MAIN
main {
    background-color: #1c1c1c;
}

.content {
    width: 80%;
    margin-left: 10%;
}
#jumbo {
    background-image: url("https://cdn.discordapp.com/attachments/852906870033481799/934122558238896238/jumbotron.jpg");
    width: 100%;
    height: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.blue-btn {
    display: inline-block;
    background-color: #0282f9;
    width: 150px;
    height: 40px;
    border: none;

    a {
        text-decoration: none;
        color: white;
    }
}

.first-btn {
    margin-top: -15px;
    margin-left: 50px;
}

#comic-books {
    width: 100%;
    background-color: hsl(0deg 0% 11%);
    color: white;
    display: flex;
    flex-wrap: wrap;

    .product {
        margin: 30px auto;
        text-align: center;
        width: 15%;

        img {
            height: 235px;
        }
    }

    h3 {
        vertical-align: middle;
    }
}

.second--btn {
    margin-left: 45%;
    margin-top: 20px;
    margin-bottom: 30px;
}

// FOOTER
.links {
    background-color: #0282f9;
    width: 100%;
    height: 175px;

    .link-container {
        display: flex;
        justify-content: space-between;
        width: 70%;
        margin-left: 15%;
    }

    div {
        color: white;
        padding-top: 40px;

        .fas {
            margin-right: 15px;
            font-size: 30px;
        }
        .fab {
            margin-right: 15px;
            font-size: 30px;
        }
        span {
            margin-bottom: 10px;
        }
    }
}

.container {
    display: flex;
    justify-content: space-between;
    height: 300px;
    text-align: center;
    background-image: url("../../public/storage/assets/footer-bg.jpg");
}

.list {
    margin: 30px;

    h3 {
        margin-top: 20px;
    }
}

#dc-links {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 100px;
}

#dc-links h3 {
    color: white;
}

#dc-links li {
    color: #5e6b70;
    list-style-type: none;
}

// comic page

.comic-banner {
    background-color: #0282f9;
    height: 100px;
    width: 100%;

    img {
        margin-left: 300px;
        margin-top: -225px;
    }
}

.comic-main {
    width: 60%;
    margin-left: 20%;
    display: flex;
    justify-content: space-between;

    h3 {
        color: #084676;
        font-size: 30px;
        margin-top: 80px;
        margin-bottom: 30px;
    }
}

.green-btn {
    background-color: #55ba59;
    display: inline-block;
    border: 1px solid gray;
    cursor: pointer;

    div {
        display: inline-block;
        margin-top: 10px;
    }
}

.first-green {
    width: 400px;
    height: 40px;
}

.second-green {
    height: 40px;
    width: 200px;
    text-align: center;
}

.description {
    width: 600px;
    margin: 20px 0 100px 0;
}

// advertisement

.adv {
    margin-left: 50px;
    margin-top: 100px;

    h4 {
        display: inline-block;
    }
}
.adv-comic {
    display: inline-block;
    height: 300px;
    width: 300px;
    background-image: url("https://i0.wp.com/www.comicbookrevolution.com/wp-content/uploads/2018/07/Superman-1-1-1.jpg?ssl=1");
    background-size: 100%;
    background-repeat: no-repeat;

    h3 {
        color: white;
        padding-top: 50px;
        margin-left: 10px;
    }

    button {
        background-color: #ffe665;
        width: 150px;
        height: 50px;
        margin-bottom: 50px;
        margin-left: 10px;
    }
}
