* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 20px;
}

header img {
  width: 100px;
}

header input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #eee;
  height: 40px;
  margin-top: 20px;
}

#other-sites {
  background-color: #0282f9;
  color: white;
  height: 20px;
  width: 100%;
}

nav {
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
}

nav a:link {
  text-decoration: none;
  color: black;
}

nav li {
  list-style-type: none;
  display: inline;
  margin: 10px;
}

main {
  background-color: #1c1c1c;
}

.content {
  width: 80%;
  margin-left: 10%;
}

#jumbo {
  background-image: url("https://cdn.discordapp.com/attachments/852906870033481799/934122558238896238/jumbotron.jpg");
  width: 100%;
  height: 400px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.blue-btn {
  display: inline-block;
  background-color: #0282f9;
  width: 150px;
  height: 40px;
  border: none;
}

.blue-btn a {
  text-decoration: none;
  color: white;
}

.first-btn {
  margin-top: -15px;
  margin-left: 50px;
}

#comic-books {
  width: 100%;
  background-color: #1c1c1c;
  color: white;
  display: flex;
  flex-wrap: wrap;
}

#comic-books .product {
  margin: 30px auto;
  text-align: center;
  width: 15%;
}

#comic-books .product img {
  height: 235px;
}

#comic-books h3 {
  vertical-align: middle;
}

.second--btn {
  margin-left: 45%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.links {
  background-color: #0282f9;
  width: 100%;
  height: 175px;
}

.links .link-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-left: 15%;
}

.links div {
  color: white;
  padding-top: 40px;
}

.links div .fas {
  margin-right: 15px;
  font-size: 30px;
}

.links div .fab {
  margin-right: 15px;
  font-size: 30px;
}

.links div span {
  margin-bottom: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  height: 300px;
  text-align: center;
  background-image: url("https://cdn.discordapp.com/attachments/852906870033481799/934833409522548736/footer-bg.jpg");
}

.list {
  margin: 30px;
}

.list h3 {
  margin-top: 20px;
}

#dc-links {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 100px;
}

#dc-links h3 {
  color: white;
}

#dc-links li {
  color: #5e6b70;
  list-style-type: none;
}

